/* Base Css  */

body{
    font-family:'Montserrat', sans-serif;
}

/* Index Page  */
.landing-form, .landing-form > div{
	height: 100vh;
}

.login-background {
	position: absolute;
	height:100vh;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    object-fit: cover;
}

.bg-column{
	position: relative;;
}

.landing-form-form > ul {
	padding: 0px 0px 35px;
	justify-content: end;
}

.landing-form-form > ul li {
	width: 115px;
	text-align: center;
	font-weight: 500;
}

.nav-link {
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	color: #662c2b;
}

.tab-content{
	height:250px;
}

.landing-form-form > ul li a {
	border-radius: 0px !important;
}

.landing-form-form > ul li .active {
	background-color: #662c2b !important;
}

.landing-form-form input {
	border-radius: 0px;
	border: 0px;
	height: 50px;
	padding: 0px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}

.form-control:focus {
	box-shadow: none;
}

.user-notification{
	position: absolute;
	right: 0;
	margin: 16px;
	width: 30%;
}

.landing-form-form .btn {
	background: #261d22;
	border-radius: 0px;
	width: 50%;
	color: #fff;
}

.alert {
	border: 0px;
	border-radius: 0px;
}